$max-width: 960px;

%block {
  width: 100%;
}

%block-inner {
  margin: 0 auto;
  max-width: $max-width;
}


%grid-container {
  margin-right: $gutter;
  @include media($large-screen-up) { margin-right: $gutter * 2;}
}

%grid {
  @include display(flex);
  @include flex-wrap(wrap);
}

%grid--padding {
  margin: -$gutter 0 $gutter -$gutter;
  // @include media ($large-screen-up) {
    // margin: -($gutter * 2) 0 ($gutter * 2) -($gutter * 2);
  // }
}

%grid-item {
  @include media($small-screen) {
    @include flex(0 0 100%);
    max-width: 100%
  }

  @include media($medium-screen-up) {
    @include flex(0 0 50%);
     max-width: 50%;
  }

  // @include media($large-screen-up) {
  //   @include flex(0 0 33.3333%);
  // }
}

%grid-item--padding {
  padding: $gutter 0 0 $gutter;

  @include media($large-screen-up) { padding-left: $gutter * 2; }
}
