.page-header {
  background-color: $light-gray;
  color: $dark-gray;
  height: 23rem;
  z-index: 50;
}

.page-header .page-title {
  font-size: 3.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;

  @include media($small-screen) { font-size: 2.5rem; }
}

.page-header .page-date {
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}

.page-header-inner {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(baseline);
  @include justify-content(flex-end);
  padding: $gutter;
  //margin-bottom: $gutter / 2;
  //margin-top: 1rem;
}

.site-title {
  @include flex(0 0 100%);
  font-size: 1.35rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  @include media ($medium-screen-up) {
    @include flex(0 0 40%);
  }
}

.page-header-links {
  @include display(flex);
  @include flex-wrap(wrap);
  @include flex(0 0 100%);
  @include media($medium-screen-up) {
    @include flex(0 0 60%);
    @include justify-content(flex-end);
  }
}

.page-header-links-item {
  //@include flex(0 0 25%);
  font-size: 1.125rem;
  text-align: left;
  line-height: 2;

  @include media($small-screen) {
    @include flex(1);
    text-align: center;
    &:first-of-type { text-align: left; }
    &:last-of-type { text-align: right; }
  }

  @include media($medium-screen-up) {
    //@include flex(1);
    margin-right: 2rem;
    text-align: right;
    &:last-of-type { margin-right: 0; }
  }

}
