%dark-gradient {
  @include background-image(linear-gradient(
    hsla(0, 0%, 0%, 0.5) 0%,
    hsla(0, 0%, 0%, 0) 100%));
}

.cover-inner {
  @extend %block-inner;
  position: relative;
  top: 3rem;
  padding: 1.5rem;
}

.cover-title {
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.cover-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-cover-content {
  @extend %block;
  @extend %fadein;
  margin-bottom: 4rem;
}

.page-cover-content-inner {
  @extend %block-inner;
  @extend %fadein--slow;
}

.cover-text {
  @extend %body-text;
  border-top: $base-border;
  margin: 1.5rem;
  margin-top: 2.5rem;
  &:first-of-type { border: none; }
}

// .cover-page .page-header {
//   @extend %fadein--slow;
//   position: absolute;
//   background-color: transparent;
//
//   @include media($medium-screen-up) { height: 200px;}
//   // a { @extend %inverse-link; }
// }
