.page-header {
  @extend %fadein--slow;
  @include background-image(linear-gradient(
    hsla(0, 0%, 0%, 0.5) 0%, 
    hsla(0, 0%, 0%, 0) 100%));
  color: #fff;
  position: absolute;
  background-color: transparent;
  z-index: 50;

  @include media($medium-screen-up) { height: 200px;}
  a { @extend %inverse-link; }
}

.page-header-inner {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(baseline);
  padding: $gutter $gutter * 2;
  //margin-bottom: $gutter / 2;
  //margin-top: 1rem;
}

.site-title {
  @include flex(0 0 100%);
  font-size: 1.35rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  @include media ($medium-screen-up) {
    @include flex(0 0 60%);
  }
}

.page-header-links {
  @include display(flex);
  @include flex-wrap(wrap);
  @include flex(0 0 100%);
  @include media($medium-screen-up) {
    @include flex(0 0 40%);
  }
}

.page-header-links-item {
  @include flex(0 0 50%);
  font-size: 1.125rem;
  text-align: left;
  line-height: 2;

  @include media($medium-screen-up) {
    @include flex(1);
    text-align: right;
  }

}
