// Page Header Classes
.page-header {
  @include display(flex);
  @include flex-wrap(wrap);
  @include media($medium-screen-up) { margin: 0 2rem; }
}

.page-navigation {
  @include display(flex);
  @include flex(1 1 100%);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-bottom: 2rem;
  margin-left: $base-spacing;
  margin-right: $base-spacing;
  margin-top: 1rem;
  @include media($medium-screen-up) { margin-bottom: 6rem; }
}

.site-title {
  margin-bottom: 1rem;
  text-align: center;

  @include media($medium-screen-up) {
    margin: 0;
    text-align: left;
  }

}

.page-navigation-links {
  @include media($small-screen) {
    width: 100%;
    @include display(flex);
    @include justify-content(space-between);
  }
}

.page-navigation-links-item {
  float: left;
  margin-left: $base-spacing * 2;
  text-align: right;

  @include media($small-screen) {
    margin: 0;
    text-align: center;
  }
}

.page-header-inner {
  @include flex(0 0 100%);
  margin: 1rem auto 2rem;
  max-width: 30rem;
  text-align: center;
  @include media($small-screen) { font-size: .85em; max-width: 23rem; }
  @include media($medium-screen-up) { margin-bottom: 2rem; }
}
