.post-list {
  font-size: 1.5rem;
  line-height: 1.2;
}

.post-entry {
  margin-bottom: 1.5rem;
}

.post-entry-title {
  font-size: 1.5rem;
}

.post-entry-date {
  color: $medium-gray;
  font-size: 0.75em;
}