.grid-container {
  @extend %grid-container;
}

.project-grid {
  @extend %grid;
  @extend %grid--padding;
}

.project-item {
  @extend %fadein;
  @extend %grid-item;
  @extend %grid-item--padding;
  img { width: 100%; }
}

.project-gallery {
  margin-top: 0;
  margin-bottom: 1.5em;

  @include media($large-screen-up) {
    width: 120%;
    margin-left: -10%;
  }
}