/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  -webkit-animation-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
}

// Keyframes

@include keyframes(fadeIn) {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include keyframes(slideDown) {
  from { @include transform(translateY(-100%)); }
  to { @include transform(translateY(0%)); }
}

%fadein {
  @include animation(fadeIn ease-in 1);
  @include animation-fill-mode(forwards);
  @include animation-duration(0.5s);
  @include animation-delay(0.25s);
  opacity: 0;

  &:nth-of-type(n+4) {
    @include animation-delay(0.5s);
  }

  &:nth-of-type(n+7) {
    @include animation-delay(0.75s);
  }
}

%fadein--fast {
  @include animation(fadeIn ease-in 1);
  @include animation-fill-mode(both);
  @include animation-duration(0.25s);
  opacity: 0;
}

%fadein--slow {
  @include animation(fadeIn ease-in 1);
  @include animation-fill-mode(both);
  @include animation-duration(0.5s);
  @include animation-delay(0.85s);
  opacity: 0;
}

%slide-down {
  @include animation(slideDown ease-in 1);
  @include animation-fill-mode(forwards);
  @include animation-duration(0.25s);
  @include animation-delay(0.25s);
  @include transform(translateY(-100%));
}

