%body-text {
  @include media($medium-screen-up) {
    font-size: 1.125rem;
    line-height: 1.4;
    margin: 0 auto 1em auto;
    max-width: 31em;
  }

  @include media($large-screen-up) {
    font-size: 1.25rem;
  }

  blockquote {
    border-left: 4px solid lighten($base-font-color, 65%);
    color: lighten($base-font-color, 40%);
    margin: 0;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1, h2, h3, h4, h5 {
    margin-top: .75em;
  }

  h1 {font-size: 2em}
  h2 {font-size: 1.75em}
  h3 {font-size: 1.25em}
  h4 {font-size: 1.125em}
  h5 {font-size: 2em}
}

%inverse-link {
  color: $inverse-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: transparentize($inverse-color, 0.35);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
