---
title:  A. Quincy Jones iPad Guide
cover: aqj_02.jpg
categories: projects
thumbnail: aqj_ipad_thumb.jpg
client: Hammer Museum
year: 2013
role: Interactive Design
gallery:
 - aqj_ipad_01.jpg
 - aqj_ipad_02.jpg
 - aqj_ipad_03.jpg
 - aqj_ipad_04.jpg

---
.media-text-block
  :markdown
    As part of the exhibition [A. Quincy Jones: Building for Better
    Living]({{ site.url }}/a-quincy-jones), I designed and built an interactive
    gallery guide. Visitors to the exhibition could browse through an extensive
    archive of supplemental material about Jones and his era.
= media_block(current_page.data.gallery[0..1])
= media_block(current_page.data.gallery[2..3])
