---
title:  Close Encounters
cover: close_encounters_04.jpg
categories: projects
thumbnail: close_encounters_thumb.jpg
client: Hammer Museum
year: 2014
role: Art Direction
gallery:
 - close_encounters_01.jpg
 - close_encounters_02.jpg
 - close_encounters_03.jpg
 - close_encounters_04.jpg
 - close_encounters_05.jpg

---
.media-text-block
  :markdown
    Art direction for the **Close Encounters** brand of family engagement programs
    at the Hammer Museum. Workshops are free to the public and led by a variety
    of artists and educators, with a goal of bringing families and children into
    the galleries to engage with art in a way that is accessible to all.

    Design &amp; photography: Tara Morris
= media_block(current_page.data.gallery[0..1])
= media_block(current_page.data.gallery[2..3])
= media_block(current_page.data.gallery[4])
