---
title:  Various Posters
cover: generatio_02.jpg
categories: projects
thumbnail: generatio_thumb.jpg
client: Hammer Museum
year: 2011-13
role: Design, Printmaking
gallery:
 - generatio_02.jpg
 - generatio_03.jpg
 - misc_01.jpg
 - misc_02.jpg
 - misc_04.jpg
 - misc_05.jpg
---
.media-text-block
  :markdown
    A selection of various posters from over the years.

    Wherever possible, I love silk-screening these kinds of pieces by hand.
= media_block(current_page.data.gallery[0..1])
= media_block(current_page.data.gallery[2..3])
= media_block(current_page.data.gallery[4..5])
