---
title:  Venice Beach Biennial
categories: projects
thumbnail: vbb_thumb.jpg
client: Hammer Museum
year: 2012
role: Art Direction
cover: vbb_01.jpg
gallery:
 - image: vbb_01.jpg
 - image: vbb_02.jpg
 - image: vbb_03.jpg
 - image: vbb_04.jpg
 - image: vbb_05.jpg
 - image: vbb_06.jpg
 - image: vbb_07.jpg
 - image: vbb_08.jpg
---
.media-text-block
  :markdown
    In the summer of 2012, while the art world flocked to Venice for the Biennale,
    Venice Beach held a different sort of art fair. From July 13&ndash;15, local
    artists took over the famous boardwalk to display their work to thousands of
    beachgoers &mdash; temporarily erasing any distinction between &quot;high art&quot;
    and &quot;street art.&quot;
= partial(:media_unit, :locals => { :media => ["vbb_01.jpg", "vbb_03.jpg", "vbb_04.jpg"] })
= partial(:media_unit, :locals => { :media => ["vbb_05.jpg", "vbb_07.jpg"] })

.media-text-block
  :markdown
    I oversaw the design of this event, working with Hammer curator Ali Subotnick.
    The &quot;funky pussy&quot; illustration was adapted from artwork created by
    veteran boardwalk artist Arthure &quot;Art&quot; Moore. Materials included
    hand-printed silk-screened posters, apparel, giant balloons, and printed ephemera.
= partial(:media_unit, :locals => { :media => ["vbb_06.jpg"] })
