---
title:  "A. Quincy Jones: Building for Better Living"
cover: aqj_02.jpg
categories: projects
thumbnail: aqj_thumb.jpg
client: Hammer Museum
year: 2013
role: Art Direction
gallery:
 - aqj_01.jpg
 - aqj_02.jpg
 - aqj_03.jpg
 - aqj_05.jpg
 - aqj_04.jpg
---
= media_block(current_page.data.gallery[0..1])
.media-text-block
  :markdown
    Photos by Brian Forrest.

    _A. Quicy Jones: Building for Better Living_ was the first museum exhibition
    dedicated to the work of the pioneering mid-century architect.

    I designed graphics and branding for this exhibition, working in collaboration
    with Chu + Gooding Architects. Exhibition materials included brochures,
    educational materials, a special Family Day event, merchandise, and more.

    The project also included an interactive gallery guide, which can be seen [here](#).
= media_block(current_page.data.gallery[2..3])
= media_block(current_page.data.gallery[4])  
