.media {
  @include outer-container;

  img {
    height: auto;
    width: 100%;
  }
}

.media-text-block {
  @extend %body-text;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
}

.media-block {
  @include display(flex);
}

.media-item {
  @include flex(1);
  border: solid 8px $white;
  text-align: center;
}
