<header class="page-header-inner">
  {% unless page.layout == "cover" %}
    <h1 class="site-title"><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
  {% endunless %}
  <ul class="page-header-links">
    <li class="page-header-links-item">
      <a href="{{site.baseurl}}/projects/">Work</a>
    </li>
    <li class="page-header-links-item">
      <a href="{{site.baseurl}}/photography/">Photography</a>
    </li>
    <li class="page-header-links-item">
      <a href="{{site.baseurl}}/writing/">Writing</a>
    </li>
    <li class="page-header-links-item">
      <a href="{{site.baseurl}}/about/">About</a>
    </li>
  </ul>
</header>
