<div class="page-header">
  <header class="page-header-inner">
    <h1 class="site-title">
      <a href="{{site.baseurl}}/">
        {{site.title}}
      </a>
    </h1>
    <ul class="page-header-links">

      {% for item in site.nav_links %}
      {% if page.url == item.href %}
      <li class="page-header-links__item">
        <a href="{{site.baseurl}}{{ item.href }}" class="is-active">{{ item.name }}</a>
      </li>
      {% else %}
      <li class="page-header-links__item">
        <a href="{{site.baseurl}}{{ item.href }}">{{ item.name }}</a>
      </li>
      {% endif %}
      {% endfor %}

    </ul>
  </header>
</div>
