---
title: Designer & Developer.
layout: media
cover: cover_02.jpg
---
.media-text-block
  :markdown
    Hello world. I’m Eric Gardner, a designer and developer living in Los Angeles.

    Currently I’m imagining the future of art publishing at the [Getty][1]
    as digital publication developer. Previously I worked at the Hammer Museum.
    I spend about equal parts of my time on visual design and writing code (mainly
    Ruby and Javascript).

    My other interests include analog and digital [photography][2],
    bicycling, [writing code][3], and social justice.

    Feel free to view my [past work](/work), or to read [some of my writing](/writing).
    This site was hand-built using [Middleman][4], a CMS-free static site generator,
    and is still under active development.

    [Get in touch](mailto:gardner.ec@gmail.com) or [find me on Twitter][5].

    [1]: https://getty.edu/
    [2]: https://www.flickr.com/photos/eric-gardner/sets/
    [3]: https://github.com/egardner
    [4]: https://middlemanapp.com/
    [5]: https://twitter.com/ecgardner
%br
%br
