// mobile nav
div#nav {
  @include outer-container;
  font-family: $sans-serif;
  letter-spacing: 1px;
}

a.logo {
  font-size: $base-font-size * 1.125;
  @include span-columns(4 of 4);
  text-align: center;
}

nav {
  @include span-columns(4 of 4);
  ul {
    font-size: $base-font-size * 0.9;
    list-style-type: none;
    text-align: center;
    margin: 0.25rem auto 0rem;
  }
  ul li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

// desktop nav
@include media ($medium-screen-up) {
  a.logo {
    @include span-columns(3 of 8);
    text-align: left;
  }
  nav {
    @include span-columns(5 of 8);
    ul {
      font-size: $base-font-size;
      float: right;
      margin-top: 0;
    }
    ul li {
      float: left;
      margin-left: 2rem;
      margin-right: 0;
    }
  }
}
