body {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.page-header,
.page-content,
.page-footer {
  @extend %block;
}

.page-header-inner,
.page-content-inner {
  @extend %block-inner;
}

.page-cover-image {
  @extend %fadein;
  height: 700px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media($small-screen) {height: 400px;}
}


.fullbleed-project .title-block {
  color: #fff;
  text-align: center;
  max-width: 50rem;
  z-index: 20;

  .page-title {
    font-size: 3.25rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 0rem;
  }

  .page-subtitle {
    font-family: "Libre Bodoni";
    font-style: italic;
    line-height: 1.4;
    font-weight: 400;
    margin-top: 0.5rem;
    font-size: 2.125rem;
    letter-spacing: 1px;
  }
}

.page-cover-overlay {
  width: 100%;
  height: 700px;
  left: 0;
  background-color: #333;
  opacity: 0.65;
  position: absolute;

  @include media($small-screen) {height: 400px;}
}

.page-content .page-date {
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}

.page-content {
  @include flex(1);
}

.page-content-inner {
  @extend %fadein;
  padding-bottom: $gutter;
}

.page-content-main {
  @extend %body-text;
  margin: 0 $gutter;
}

.page-footer {
  @extend %fadein;
  background-color: $light-gray;
  height: 100px;
}
