body {
  @include font-feature-settings("kern", "liga", "pnum", "smcp");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Global type sizes
@for $i from 1 through 6 {
  h#{$i} { font-size: modular-scale((6 - $i), 1em, $major-third); }
}

%container {
  margin: 0 1rem;
  @include media($medium-screen-up) { margin: 0 2rem; }
  @include media($large-screen-up) {
    margin: 0 auto;
    max-width: 50rem;
  }
}

%text-column {
  margin: 0 1rem;

  a {
    border-bottom: 1px solid tint($action-color, 90%);
    &:hover { border-bottom: 1px solid tint($action-color, 60%); }
  }

  @include media($medium-screen-up) {
    font-size: 1.125em;
    margin: 0 auto;
    max-width: 34em;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 2rem;
    }
  }
}

%base-type {
  @extend %default-ul;
  @extend %default-ol;
}

// Grid system
$gutter: 1rem;

%grid {
  @include display(flex);
  @include flex-wrap(wrap);
}

%grid-item {
  @include media($small-screen) { @include flex(0 0 100%); }
  @include media($medium-screen-up) { @include flex(0 0 50%); }
  @include media($large-screen-up) { @include flex(0 0 33.3333%); }
}

%grid--padding { margin: -$gutter 0 $gutter -$gutter; }
%grid-item--padding { padding: $gutter 0 0 $gutter; }


// Flexbox sticky footer
.site {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.site-content { @include flex(1); }

.page-header-inner {
  @include media($small-screen) { font-size: .65em; }
}

.page-content-inner {
  @extend %text-column;
  margin-bottom: $base-spacing * 2;
  ul { @extend %default-ul; }
  ol { @extend %default-ol; }
}

.gallery {
  @extend %grid;
  @extend %grid--padding;
  margin-right: $gutter;
}

.gallery-row {
  @include flex(0 0 100%);
  @include display(flex);
}

.gallery-item {
  @extend %grid-item--padding;
  @include flex(1);
}
