---
# Layouts must stay in HTML
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="cover-page">
    <ul id="cover-list">
      {% for image in site.data.covers %}
      <li data-cover-image="{{site.baseurl}}/{{site.image_dir}}/{{image.url}}"
          data-cover-desc="{{image.desc}}"></li>
      {% endfor %}
    </ul>
    <div class="page">
      <div class="page-header">
        {% include page_header.html %}
        <div class="cover-inner">
          <h1 class="cover-title">{{site.title}}</h1>
          <h2 class="cover-subtitle">{{site.description}}</h2>
        </div>
      </div>
      <div class="page-cover-content">
        <div class="page-cover-content-inner">
          <div class="cover-text">
            <h3>Featured Projects</h3>
          </div>
          {% include feature_grid.html %}
          <div class="cover-text">
            <h3>Latest Writing</h3>
            {% include post_list.html %}
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{site.baseurl}}/{{site.js_dir}}/application.js"></script>
  </body>
</html>
