---
# Layouts must stay in HTML
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="fullbleed-project">
    <!-- begin page header -->
    {% include page_header.html %}
    {% if page.slideshow %}
    {% include cover_slideshow.html %}
    {% elsif page.video %}
    {% include cover_video.html %}
    {% else %}
    {% include cover_image.html %}
    {% endif %}
    <!-- end page header -->
    <!-- begin page content -->
    <div class="page-content" id="main">
      <div class="page-content-inner">
      {{content}}
      </div>
    </div>
    <!-- end page content -->
    <!-- <div class="page-footer">
      <div class="page-footer-inner">
      </div>
         </div> -->
    {% include photoswipe.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/application.js"></script>
  </body>
</html>
