---
layout: default
---
<div class="page-header">
  <div class="page-navigation">
    <h1 class="site-title">{{site.title}}</h1>
    <ul class="page-navigation-links">
      <li class="page-navigation-links-item">
        <a href="{{site.baseurl}}/projects/">Work</a>
      </li>
      <li class="page-navigation-links-item">
        <a href="{{site.baseurl}}/writing/">Writing</a>
      </li>
      <li class="page-navigation-links-item">
        <a href="{{site.baseurl}}/about/">About</a>
      </li>
    </ul>
  </div>
  <h1 class="page-title">{{page.title}}</h1>
</div>
<div class="page-content">
  {{content}}
</div>
